<div  class="container-fluid banner-layer">
    <div class="logo mb-5 text-center">
        <h1>
            Online booking is coming soon.
        </h1>
    </div>
    <div class="row  justify-content-md-center">
        
      <div class="col-sm-3"  >           
        <div class="card card-land"  >
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Al Barsha Mall Club  <i class="fa fa-wifi" aria-hidden="true"></i></li>
              <li class="list-group-item">04-3851151  <i class="fab fa-500px"></i></li>
              <li class="list-group-item">reception_abm@goldsgym.ae  </li>
            </ul> 
          </div>  
          </div>
<!--2nd-->
          <div class="col-sm-3" >           
            <div class="card card-land" >
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> Al Musallah Tower Club </li>
                  <li class="list-group-item">04-3960222</li>
                  <li class="list-group-item">reception_amt@goldsgym.ae </li>
                </ul>
              </div>
              </div>
              <!--3rd-->
              <div class="col-sm-3" >           
                <div class="card card-land" >
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"> Etihad Mall Club</li>
                      <li class="list-group-item">04-2559882</li>
                      <li class="list-group-item">reception_etc@goldsgym.ae </li>
                    </ul>
                  </div>
                  </div>
                </div>

              
                
    
                <div class="row justify-content-md-center">
                  <!--4th-->
              <div class="col-sm-3" >           
                <div class="card card-land" >
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Hamriyah Club </li>
                      <li class="list-group-item">04-2692661</li>
                      <li class="list-group-item"> reception_hmd@goldsgym.ae</li>
                    </ul>
                  </div>
                  </div>

                   <!--5th-->
              <div class="col-sm-3" >           
                <div class="card card-land" >
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"> Ibn Battuta Gate Club</li>
                      <li class="list-group-item">04-2775465</li>
                      <li class="list-group-item">reception_ibg@goldsgym.ae</li>
                    </ul>
                  </div>
                  </div>

                   <!--6th-->
              <div class="col-sm-3" >           
                <div class="card card-land" >
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Reef Mall Club</li>
                      <li class="list-group-item">04-2522932</li>
                      <li class="list-group-item"> reception_rmd@goldsgym.ae</li>
                    </ul>
                  </div>
                  </div>

   
    </div>
   
    <div class="footer copyright">
        <p> &copy; 2020 Company Coming soon . All Rights Reserved.Design by
            <a href="#" target="=_blank">New age fitness</a>
        </p>
    </div>
<div class="row ">
    <div class=" col-sm-12 copyright " >
        <p> © 2020 New Age Fitness . All rights reserved </p>
    </div>
    </div>

</div>

