<div class="col-sm-12 ">                          
    <div class="col-sm-10 middle">
        <p style="color:#fff">The biggest online Group Exercise community to achieve physical, emotional and spiritual wellbeing. Strengthen your body and mind. Choose your preferred Group Exercise program from various schedules that suit your interest or fitness routines.
            </p>
    </div>
</div>

<div class="col-sm-12 "  >
    <div class=" col-sm-6 middle" >
        <nav class="col-sm-6 middle font-sm nav nav-pills  flex-sm-row">
            <a  class="col-lg-6 col-md-6 col-sm-3 flex-sm-fill text-sm-center nav-link " href="#p" data-toggle="tab">Programs</a>
            <a class="col-lg-6  col-md-6 col-sm-3  flex-sm-fill text-sm-center nav-link active" href="#w" data-toggle="tab">Schedule</a>
        </nav>
   </div>

   <div class="tab-content">
       
        <div class="row tab-pane "   id="p">
            <div class="col-sm-12 middle" *ngIf="arrGroupExercisePrograms?.lenght == 0">
                <p>No programs avaiable Now</p>
            </div>  
            <div class="row col-lg-8 col-md-8 col-sm-12 col-xs-12 middle" *ngIf="arrGroupExercisePrograms?.lenght != 0">
                
                
                <div  class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let obj of arrGroupExercisePrograms">
                    <div class="hovereffect">
                        <img class="img-responsive " src="{{obj.program.image}}" alt="">
                        <div class="overlay">
                        <h2 (click)="openModalProgramDetails(obj)">{{obj.program.name}}</h2>
                                <p><a (click)="openModalProgramDetails(obj)">CLICK HERE TO DETAILS</a></p> 
                        </div>
                    </div>
                </div>
               
            </div>
         
        </div> 
        
        <div class="tab-pane active"  id="w">
            <div   class="col-sm-12 middle" *ngIf="arrTodayGroup?.length == 0">
                <p>No classes avaiable Now</p>
            </div>
            <div class="row col-sm-8 middle"  >
                
               
                <!-- Card -->
            <div *ngIf="arrTodayGroup?.length > 0">
                <div  class="col-sm-12 "  style="text-align: left; padding-bottom: 2%;">Today Classes</div>    
                <div class="row col-sm-12" >
                    
                    <div  *ngFor="let objloc of arrTodayGroup"  class="card promoting-card col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    
                        <!-- Card content -->
                        <div class="card-body d-flex flex-row">
                    
                        
                        <!-- Content -->
                        <div class="row">
                        
                            <!-- Title -->
                            <div class="col-sm-9" style="padding-left: 1px;">
                                    <span class="card-text vid-title  mb-2" ><a ><i class="fas fa-calendar"></i>
                                        test {{objloc.name}}</a>
                                    
                                    </span>
                            </div>
                            <div class="col-sm-3" style="text-align: end;">
                                    <span *ngIf="objloc.active == true" (click)="video(objG)"  class=" badge badge-dark animateColor handView" style="float: right;color: #fff ;"><i style ="color: #fff;" class="animateColor fas fa-wifi"></i>Live</span>
                                </div>
                            <!-- Subtitle -->
                            <div clas="col-sm-12">
                                <p class="card-text vid-title"><i class="font-21 far fa-clock pr-2"></i>{{objloc.date}}  {{objloc.time1}}</p>
                            </div>
                    
                        </div>
                    
                        </div>
                    
                    
                        <!-- Card image -->
                        <div class="view overlay">
                
                            <img class="card-img-top rounded-0" src="{{objloc.image}}" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                    
                    
                    
                    </div>
                </div>
            </div>
            <div *ngIf="arrRecentWeekGroup?.lenght > 0">
                <div class="col-sm-12 ">Recent Week Classes</div> 
                <div class="row col-sm-12" >
                    <div *ngFor="let obj of arrRecentWeekGroup"   class="card promoting-card col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    
                        <!-- Card content -->
                        <div class="card-body d-flex flex-row">
                    
                       
                    
                        <!-- Content -->
                        <div class="row">
                        
                            <!-- Title -->
                            <div class="col-sm-9" style="padding-left: 1px;">
                                    <span class="card-text font-weight-bold mb-2" style="float: left;"><a ><i class="fas fa-calendar"></i>
                                        {{obj.name}}</a>
                                    
                                    </span>
                            </div>
                            <div class="col-sm-3" style="text-align: end;">
                                    <span     class=" badge badge-dark animateColor handView" style="float: right;color: #fff ;"><i style ="color: #fff;" class="animateColor fas fa-wifi"></i>Live</span>
                                </div>
                            <!-- Subtitle -->
                            <div clas="col-sm-12">
                                <p class="card-text"><i class="far fa-clock pr-2"></i>{{obj.date}}  {{obj.time1}}</p>
                            </div>
                    
                        </div>
                    
                        </div>
                    
                    
                        <!-- Card image -->
                        <div class="view overlay">
                
                            <img class="card-img-top rounded-0" src="../../assets/images/zumba1.jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                    
                    
                    
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>

<div id="myDModal" class="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog "  role="document">
      <div class="modal-content" style="background-color: dimgrey;">
        <div class="modal-header">
          <h5 class="modal-title" style="color: #fff;">{{className}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"  >
            <iframe *ngIf="srcVidoDialog != ''" class="col-sm-12" id="popup-youtube-player" [src]="sanitizer.bypassSecurityTrustResourceUrl(srcVidoDialog)"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  autoplay="true" >
                Your browser doesn't support iframes
            </iframe>
            <!-- <video ng-show="VName != ''" id="videoPlay" class="col-sm-12"  controls style="outline:#000 !important" >
            <source id="src" type="video/mp4" >
            
            </video> -->
            <p style="color: #212529;">{{MDetails}}</p>
            
            <h5 class="modal-title" style="color: #fff;margin-top:2%;font-weight: 600;"><strong>Schedule</strong></h5>
           <table class="table table-striped table-responsive table-borderless"> 
                <tbody  *ngFor="let obj of Schedule">
                    
                  <tr  >
                    <th scope="row">{{obj.name}}</th> 

                     <td >{{obj.date}}</td>
                    <td >{{obj.time}}</td>
                  </tr>
                  
                </tbody>
              </table>
             
            <!-- <div class="middle">
                <button type="button" class="btn btn-secondary" href="#d" data-toggle="tab" data-dismiss="modal">Get Classes</button>
            </div> -->
            <!-- <a href="#d" data-toggle="tab" data-dismiss="modal">Get Classes</a> -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" ng-click="verify()" class="modalbutton"><div ng-show="verifySpinner==true" class="spinner-border text-light"></div><span ng-show="verifySpinner==false">Verify</span></button> -->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>