<style>
    .overflow{
        overflow: hidden;
    }
     .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
    }

  .stars{
         margin: 20px 0; 
        padding-top: 0em;
        font-size: 24px;
        color: #C31E2C;
    }
    .container{
        overflow: hidden;
    }
    .overlay-banner {
        background:transparent;
            position:absolute;
            min-width:100%;
            height:50%;
            z-index:99; 
            align-items: center;
            
            top: 0; left: 0;
            
          
}
.button-rate {
       
            position:absolute;
            top: 8px;
  right: 16px;      
            z-index:999; 
            float: right;
            
          
}

.button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  
}
.btn-half{
  width:46%;
  box-sizing:border-box;
}

.button:hover {
    fill: white; 
  }
.defs {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

iframe {
  float: left;
  width: 300px;
  height: 200px;
}

.buttons {
  padding: 1rem;
  background: #f06d06;
  float: left;
}

.container {
  padding: 1rem;
}
.rate-buttton-a{
    width: fit-content;

    width:100% ;
    display: block;
}
@media screen and (max-width: 800px) {
    .rate-buttton-a{
        width: fit-content;
        margin-left: 55%;
    
  
}
}
#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}
span{
  overflow: hidden;
}

/*test new btn*/
/*
*{
  box-sizing: border-box;

}
body{
  display: -webkit-flex;
  display: flex;
}
.wrapper{
  perspective: 1000px;
  
}

.box-area{
  position:relative;
  height:120px;
  width:350px;
  transform-style: preserve-3d;
  transition: transform 200ms ease-in-out;
  transform: translateZ(-60px);
  }
  .side{
  position:absolute;
 backface-visibility:hidden;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:64px;
  font-weight: bold;
  display: flex;
  
  display:-webkit-flex;

}
.box-area:hover{
  transform:rotateX(-90deg) translateY(60px);

}



.side-one{
  background-color:red;
  border:5px solid chocolate;
  color:white;
  transform:translateZ(60px);
  text-transform: uppercase;
 }
 .side-two{
   color:chocolate;
   background-color:blue;
   border:5px solid red;
   transform: rotateX(90deg) translateZ(60px);
   transition: transform 200ms ease-in-out;
   text-transform: uppercase ;
   
 }
 */
 /* test new btn*/
</style>   


<!--test botton-->
<!--<body>
  <div class="wrapper">
  <div class="box-area">
     <div class="side side-one" >rate</div>
    <div class="side side-two" >us </div>
  </div>
</div>
</body> -->
<!--/test botton-->





<div class="container">
<!-- banner--> 
<div class="row ">
  <div class="row col-sm-auto button-rate">
    
    <a class="btn btn-secondary rate-buttton-a" (click)="openRateDialog()"  id="open-review-box">Rate & go back</a>
    
  </div>
</div>  
<div id="overlay" class="row inner-banner overlay-banner container-fluid">
</div>
  <div id="fb-share-button" style="position: absolute;z-index:60005050 ;bottom: 90px; right: 91px;">
  <svg viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet">
      <path class="svg-icon-path" d="M9.1,0.1V2H8C7.6,2,7.3,2.1,7.1,2.3C7,2.4,6.9,2.7,6.9,3v1.4H9L8.8,6.5H6.9V12H4.7V6.5H2.9V4.4h1.8V2.8 c0-0.9,0.3-1.6,0.7-2.1C6,0.2,6.6,0,7.5,0C8.2,0,8.7,0,9.1,0.1z"></path>
  </svg>
  <a href="https://facebook.com/sharer/sharer.php?u=https://newagefitness-2020-testing.azurewebsites.net/img={{classImg}}" class="share" target="_blank" style="color: #fff;">Share</a>
</div>

<input type="hidden" id="isVideoPlay" name="isVideoPlay" value="0"/>
<div id="post-review-box" class="modal" tabindex="-1" role="dialog" style="display: none;overflow: hidden;" ng-hide="diappear" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: dimgrey;">
        <div class="modal-header">
          <h5 class="modal-title" style="color: #fff;">Rate </h5>
          <button type="button" class="close-review-box"   class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
            
          
          <ngb-rating [(rate)]="currentRate"  style="font-size: 2rem;margin-left: 30%;" [max]=5 >
            
          </ngb-rating>
         
        <textarea class="form-control animated" [(ngModel)]="objUser.review" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
        <div class="modal-footer">
          
          <button type="button"  (click)="addFeedback()" class="btn-half btn btn-secondary" ><div *ngIf="rateSpinning==true" class="spinner-border text-light"></div><span ng-show="rateSpinning==false">Save and exit class</span></button>
          <button type="button" class="btn btn-secondary btn-half close-review-box" data-dismiss="modal">later</button>
          
        </div>
      </div>
    </div>
  </div>
</div> 



<div >
        <iframe id="popup-youtube-player"  [src]="sanitizer.bypassSecurityTrustResourceUrl(src)" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  autoplay="true" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; ">
            Your browser doesn't support iframes
        </iframe>
   </div>

</div>

<script>

  $( document ).ready(function() {
  (function(e){var t,o={className:"autosizejs",append:"",callback:!1,resizeDelay:10},i='<textarea tabindex="-1" style="position:absolute; top:-999px; left:0; right:auto; bottom:auto; border:0; padding: 0; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; word-wrap:break-word; height:0 !important; min-height:0 !important; overflow:hidden; transition:none; -webkit-transition:none; -moz-transition:none;"/>',n=["fontFamily","fontSize","fontWeight","fontStyle","letterSpacing","textTransform","wordSpacing","textIndent"],s=e(i).data("autosize",!0)[0];s.style.lineHeight="99px","99px"===e(s).css("lineHeight")&&n.push("lineHeight"),s.style.lineHeight="",e.fn.autosize=function(i){return this.length?(i=e.extend({},o,i||{}),s.parentNode!==document.body&&e(document.body).append(s),this.each(function(){function o(){var t,o;"getComputedStyle"in window?(t=window.getComputedStyle(u,null),o=u.getBoundingClientRect().width,e.each(["paddingLeft","paddingRight","borderLeftWidth","borderRightWidth"],function(e,i){o-=parseInt(t[i],10)}),s.style.width=o+"px"):s.style.width=Math.max(p.width(),0)+"px"}function a(){var a={};if(t=u,s.className=i.className,d=parseInt(p.css("maxHeight"),10),e.each(n,function(e,t){a[t]=p.css(t)}),e(s).css(a),o(),window.chrome){var r=u.style.width;u.style.width="0px",u.offsetWidth,u.style.width=r}}function r(){var e,n;t!==u?a():o(),s.value=u.value+i.append,s.style.overflowY=u.style.overflowY,n=parseInt(u.style.height,10),s.scrollTop=0,s.scrollTop=9e4,e=s.scrollTop,d&&e>d?(u.style.overflowY="scroll",e=d):(u.style.overflowY="hidden",c>e&&(e=c)),e+=w,n!==e&&(u.style.height=e+"px",f&&i.callback.call(u,u))}function l(){clearTimeout(h),h=setTimeout(function(){var e=p.width();e!==g&&(g=e,r())},parseInt(i.resizeDelay,10))}var d,c,h,u=this,p=e(u),w=0,f=e.isFunction(i.callback),z={height:u.style.height,overflow:u.style.overflow,overflowY:u.style.overflowY,wordWrap:u.style.wordWrap,resize:u.style.resize},g=p.width();p.data("autosize")||(p.data("autosize",!0),("border-box"===p.css("box-sizing")||"border-box"===p.css("-moz-box-sizing")||"border-box"===p.css("-webkit-box-sizing"))&&(w=p.outerHeight()-p.height()),c=Math.max(parseInt(p.css("minHeight"),10)-w||0,p.height()),p.css({overflow:"hidden",overflowY:"hidden",wordWrap:"break-word",resize:"none"===p.css("resize")||"vertical"===p.css("resize")?"none":"horizontal"}),"onpropertychange"in u?"oninput"in u?p.on("input.autosize keyup.autosize",r):p.on("propertychange.autosize",function(){"value"===event.propertyName&&r()}):p.on("input.autosize",r),i.resizeDelay!==!1&&e(window).on("resize.autosize",l),p.on("autosize.resize",r),p.on("autosize.resizeIncludeStyle",function(){t=null,r()}),p.on("autosize.destroy",function(){t=null,clearTimeout(h),e(window).off("resize",l),p.off("autosize").off(".autosize").css(z).removeData("autosize")}),r())})):this}})(window.jQuery||window.$);

var __slice=[].slice;(function(e,t){var n;n=function(){function t(t,n){var r,i,s,o=this;this.options=e.extend({},this.defaults,n);this.$el=t;s=this.defaults;for(r in s){i=s[r];if(this.$el.data(r)!=null){this.options[r]=this.$el.data(r)}}this.createStars();this.syncRating();this.$el.on("mouseover.starrr","span",function(e){return o.syncRating(o.$el.find("span").index(e.currentTarget)+1)});this.$el.on("mouseout.starrr",function(){return o.syncRating()});this.$el.on("click.starrr","span",function(e){return o.setRating(o.$el.find("span").index(e.currentTarget)+1)});this.$el.on("starrr:change",this.options.change)}t.prototype.defaults={rating:void 0,numStars:5,change:function(e,t){}};t.prototype.createStars=function(){var e,t,n;n=[];for(e=1,t=this.options.numStars;1<=t?e<=t:e>=t;1<=t?e++:e--){n.push(this.$el.append("<span  class='overflow glyphicon .glyphicon-star-empty'></span>"))}return n};t.prototype.setRating=function(e){if(this.options.rating===e){e=void 0}this.options.rating=e;this.syncRating();return this.$el.trigger("starrr:change",e)};t.prototype.syncRating=function(e){var t,n,r,i;e||(e=this.options.rating);if(e){for(t=n=0,i=e-1;0<=i?n<=i:n>=i;t=0<=i?++n:--n){this.$el.find("span").eq(t).removeClass("glyphicon-star-empty").addClass("glyphicon-star")}}if(e&&e<5){for(t=r=e;e<=4?r<=4:r>=4;t=e<=4?++r:--r){this.$el.find("span").eq(t).removeClass("glyphicon-star").addClass("glyphicon-star-empty")}}if(!e){return this.$el.find("span").removeClass("glyphicon-star").addClass("glyphicon-star-empty")}};return t}();return e.fn.extend({starrr:function(){var t,r;r=arguments[0],t=2<=arguments.length?__slice.call(arguments,1):[];return this.each(function(){var i;i=e(this).data("star-rating");if(!i){e(this).data("star-rating",i=new n(e(this),r))}if(typeof r==="string"){return i[r].apply(i,t)}})}})})(window.jQuery,window);$(function(){return $(".starrr").starrr()})

$(function(){

$('#new-review').autosize({append: "\n"});

var reviewBox = $('#post-review-box');
var newReview = $('#new-review');
var openReviewBtn = $('#open-review-box');
var closeReviewBtn = $('.close-review-box');
var ratingsField = $('#ratings-hidden');

openReviewBtn.click(function(e)
{
  reviewBox.slideDown(400, function()
    {
      $('#new-review').trigger('autosize.resize');
      newReview.focus();
    });
  openReviewBtn.fadeOut(100);
  closeReviewBtn.show();
});

closeReviewBtn.click(function(e)
{
  e.preventDefault();
  reviewBox.slideUp(300, function()
    {
      newReview.focus();
      openReviewBtn.fadeIn(200);
    });
  closeReviewBtn.hide();
  
});

$('.starrr').on('starrr:change', function(e, value){
  ratingsField.val(value);
});
});
      $('#stop').hide();
      $('#play').show();
      // $("#controls").show();
     
  })
  $("body" ).keyup(function(e) {
      
      if(e.keyCode == 32){
      if($("#isVideoPlay").val() == 0){

      $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');    
      $("#controls").hide();
      $("#isVideoPlay").val(1) ;

  }else{
      $("#controls").show();
      $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*'); 
      $("#isVideoPlay").val(0) ;
  }
}
      });
  $("#overlay" ).click(function() {
      if($("#isVideoPlay").val() == 0){

      $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');    
      $("#controls").hide();
      $("#isVideoPlay").val(1) ;

  }else{
      $("#controls").show();
      $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*'); 
      $("#isVideoPlay").val(0) ;
  }
      
      });


  
</script>