
    <div class=" container">
        <div class="row ">
            <img src=" assets/images/intro_logo.png" class="intro_logo" alt="logo">
        </div>

        <div class="row   justify-content-around">
            <div class=" col-sm-4">
                <button routerLink="/landbook" type=button class="btn btn-intro btn-danger">gym access booking</button> 
            </div>
            <div class="col-sm-4 ">
                <button routerLink="/home" type="button" class="btn btn-intro btn-danger">virtual fitness classes</button>
            </div>
        </div>

        <!--footer-->
        <div class="row">
            <div class="block-100">
                
            </div>
        </div>

<app-footer></app-footer>        
    
    </div>




