                    <div class="col-sm-6 middle">
                        <nav class="col-sm-6 font-sm middle nav nav-pills  flex-sm-row">
                            <a  class="col-lg-6 col-md-6 col-sm-3 flex-sm-fill text-sm-center nav-link active" href="#e" data-toggle="tab">Group Exercise</a>
                            <a class="col-lg-6  col-md-6 col-sm-3  flex-sm-fill text-sm-center nav-link " href="#f" data-toggle="tab">Fitness</a>
                            
                            
                        </nav>
                    </div>
                    <div class="row tab-content">
                        <div class="col-sm-12  tab-pane active" id="e">
                         
                            <div class=" col-sm-12 middle" style="width:200px;">
                                
                            </div>
                            <div >
                                
                                <div   id="collapseExamplePast">
                                    <div class="row col-lg-8 col-md-8 col-sm-12 col-xs-12 middle" id="GProgram">
                                    
                                            
                                        <div  *ngFor="let obj of arrVideoLibaryGroupExerciseProgram " class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="hovereffect">
                                                <img  class="img-responsive"  style="min-height: 100%" src="{{obj.program.image}}" alt="">
                                                <div class="overlay">
                                                <h2 (click)="getGLibaryVideos(obj)">{{obj.program.name}}</h2>
                                                        <p><a (click)="getGLibaryVideos(obj)">CLICK HERE TO Get classes</a></p> 
                                                </div>
                                            </div>
                                        </div>
                                       
                                        
                                        
                                    </div>
                                    <div class="row " id="GprogramarrayNameback">
                                        <div class="col-sm-8 middle">
                                            <p >{{programNameG}} <a  (click)="backtoProgramGroup()" class="aHoverMissed" style="float:right;color:#C31E2C">Back to program</a></p>
                                        
                                        </div>
                                    </div>
                                    <div class="col-sm-12 middle" *ngIf="arrVideoLibaryGroupExercise == []" >
                                        <p>No classes avaiable Now</p>
                                    </div>
                                    <div class="col-sm-8 middle" id="GprogramarrayName">
                                        
                                        <!-- Card -->
                                        
                                        <!-- Card -->
                                    <div class="row" >
                                        <div  *ngFor="let objPG of arrVideoLibaryGroupExercise"  class="card promoting-card col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        
                                            <!-- Card content -->
                                            <div class="card-body ">
                                        
                                            <!-- Avatar -->
                                            <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle mr-3" height="50px" width="50px" alt="avatar"> -->
                                        
                                            <!-- Content -->
                                            <div class="row">
                                            
                                                <!-- Title -->
                                                <div class="col-sm-9" style="padding-left: 1px;">
                                                        <span class="card-text font-weight-bold mb-2" style="float: left;"><a ><i class="fas fa-calendar"></i>
                                                            {{objPG.name}}</a>
                                                        
                                                        </span>
                                                </div>
                                                        <div class="col-sm-3" style="text-align: right;">
                                                        <span (click)="video(objPG)"   class=" badge badge-dark animateColor handView" style="float: right;color: #fff ;"><i style ="color: #fff;" class="animateColor fas fa-play"></i> play</span>
                                                    </div>
                                                <!-- Subtitle -->
                                                <div clas="col-sm-12">
                                                    <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>{{objPG.date}}  {{objPG.time}}</p> -->
                                                </div>
                                        
                                            </div>
                                        
                                            </div>
                                        
                                        
                                            <!-- Card image -->
                                            <div class="view overlay">
                                    
                                                <img class="card-img-top rounded-0" src="{{objPG.image}}" alt="Card image cap">
                                            <a href="#!">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                            </div>
                                        
                                        
                                        
                                        </div>
                                    </div>
                             
                                    </div>
                                </div>
                                
                            </div>
                           
                        </div>
                        <div class="col-sm-12 tab-pane " id="f">
                        
                            <div class=" col-sm-12 middle" style="width:200px;">
                                
                            </div>
                            <div >
                                
                                <div  id="collapseExamplePast1">
                                    <div class="row col-lg-8 col-md-8 col-sm-12 col-xs-12 middle" id="fProgram">
                                
                                        
                                        <div  *ngFor="let obj of arrVideoLibaryFitnessProgram " class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <div class="hovereffect">
                                                <img  class="img-responsive " src="{{obj.program.image}}" alt="">
                                                <div class="overlay">
                                                <h2 (click)="getFLibaryVideos(obj)">{{obj.program.name}}</h2>
                                                        <p><a (click)="getFLibaryVideos(obj)">CLICK HERE TO Get classes</a></p> 
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                    </div>
                                    <div class="row " id="fprogramarrayName">
                                        <div class="col-sm-8 middle">
                                            <p >{{programNameF}} <a (click)="backtoProgramFitness()" class="aHoverMissed" style="float:right;color:#C31E2C">Back to program</a></p>
                                        
                                        </div>
                                    </div>
                                    <div class="col-sm-12 middle" *ngIf="arrVideoLibaryFitness ==[]">
                                        <p>No classes avaiable Now</p>
                                    </div>
                                    <div class="row col-sm-8 middle" id="fprogramarray">
                                        
                                        <!-- Card -->
                                        
                                        <!-- Card -->
                                    
                                        <div   *ngFor="let objPF of arrVideoLibaryFitness"  class="card promoting-card col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        
                                            <!-- Card content -->
                                            <div class="card-body ">
                                        
                                        
                                            <!-- Content -->
                                            <div class="row">
                                            
                                                <!-- Title -->
                                                <div class="col-sm-9" style="padding-left: 1px;">
                                                        <span class="card-text font-weight-bold mb-2" style="float: left;"><a ><i class="fas fa-calendar"></i>
                                                            {{objPF.name}}</a>
                                                        
                                                        </span>
                                                </div>
                                                <div class="col-sm-3" style="text-align: end;">
                                                        <span (click)="video(objPF)"   class=" badge badge-dark animateColor handView" style="float: right;color: #fff ;"><i style ="color: #fff;" class="animateColor fas fa-play"></i> play</span>
                                                    </div>
                                                <!-- Subtitle -->
                                                <div clas="col-sm-12">
                                                    <!-- <p class="card-text"><i class="far fa-clock pr-2"></i>{{objPF.date}}  {{objPF.time}}</p> -->
                                                </div>
                                        
                                            </div>
                                        
                                            </div>
                                        
                                        
                                            <!-- Card image -->
                                            <div class="view overlay">
                                    
                                                <img class="card-img-top rounded-0" src="{{objPF.image}}" alt="Card image cap">
                                            <a href="#!">
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                            </div>
                                        
                                        
                                        
                                        </div>
                                    
                
                                    </div>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div> 
                    