<div  class="row col-lg-8 col-md-8 col-sm-12 col-xs-12 middle">
                        
                    
    <div *ngFor="let obj of  arrBlog" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img  class="img-responsive" src="assets/images/latin.jpg" alt="">
            <div class="overlay">
            <h2 (click)="openModalBlogDetails(obj)">{{obj.title}}</h2>
                    <p><a  (click)="openModalBlogDetails(obj)">CLICK HERE TO DETAILS</a></p> 
            </div>
        </div>
    </div>
   
    
    
</div>

<div id="myBlogModal" class="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background-color: dimgrey;">
        <div class="modal-header">
          <h5 class="modal-title" style="color: #fff;">{{BlogDetails?.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"  >
            <p style="color: #212529;" [innerHTML]="BlogDetails?.text" ></p>
            <!-- <p style="color: #212529;">{{BlogDetails}}</p> -->
            
            <!-- <a href="#d" data-toggle="tab" data-dismiss="modal">Get Classes</a> -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" ng-click="verify()" class="modalbutton"><div ng-show="verifySpinner==true" class="spinner-border text-light"></div><span ng-show="verifySpinner==false">Verify</span></button> -->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>