<div class="col-sm-12 middle" ng-if="arrHealthVideo?.length ==0">
    <p>No health video avaiable Now</p>
</div>


<div class="row" >
    
 
        <div  *ngFor="objG in arrHealthVideo"  class="card promoting-card col-lg-4 col-md-4 col-sm-12 col-xs-12">
        
            
            <div class="card-body d-flex flex-row">
        
        
                <div class="col-sm-12" style="padding-left: 1px;">
                    <div class="card-text font-weight-bold mb-2" style="float: left;"><a ><i class="fas fa-weight"></i>
                        {{objG.name}}</a>
                    
                    </div>
                    <div (click)="video(objG)"   class=" badge badge-dark animateColor handView" style="float: right;color: #fff ;"><i style ="color: #fff;" class="animateColor fas fa-play"></i> play</div>
                </div>
               
                <div clas="col-sm-12">
                    
                </div>
        
            
        
            </div>
        
        
           
            <div class="view overlay">
    
                <img class="card-img-top rounded-0" src="{{objG.image}}" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>
        
        
        
        </div>
    
    
</div>
