

<!-- main -->
<div class="container-fluid">
    <a href="stay.html" class="float">
        <label class="my-float">Stay Safe</label>
    </a>

    <div class="row">
        <div class="col-sm-12 main-agile">
            <div class="row col-sm-12 ">
                <div class="col-sm-6 middle logoBackground logoWidth">
                    <img src="assets/images/logo.png" alt="Image description" id="logo" />

                </div>
                <div class="col-sm-2 selectAbsolute-en hide">
                    <select class="form-control   form-control1 form-control1-en decorated" 
                        ng-change="langC()" id="sel1">
                        <option value="en" class="flex-sm-fill text-sm-center" href="#collapseExample1"
                            data-toggle="tab">English</option>

                        <option value="ar" class="flex-sm-fill text-sm-center  " href="#collapseExample2"
                            data-toggle="tab">العربيه</option>


                    </select>
                </div>
                <div class="selectAbsolute-en show margin-top">
                    <select class="form-control selectLang  decorated"  ng-change="langC()" id="sel1">
                        <option value="en" class="flex-sm-fill text-sm-center" href="#collapseExample1"
                            data-toggle="tab">En</option>
                        <option value="ar" class="flex-sm-fill text-sm-center  " href="#collapseExample2"
                            data-toggle="tab">ع</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4  w3ls-right1">
                <div class="login-w3l">
                    <div class="top-img-agileits-w3layouts">
                        <h2 class="sub-head-w3-agileits txt-cap">New Age Fitness</h2>
                    </div>
                    <div class="login-form">
                        <nav class="nav nav-pills  flex-sm-row">
                            <a class="flex-sm-fill text-sm-center nav-link active" href="#a"
                                data-toggle="tab">Register</a>
                            <a class="flex-sm-fill text-sm-center nav-link" href="#b" data-toggle="tab">Login</a>

                        </nav>

                        <div class="tab-content" style="padding-top: 1em;">
                            <form class="tab-pane active" id="a" action="#" method="post">
                                <input  type="text" name="Name" [(ngModel)]="objRegister.firstName" 
                                    placeholder="First Name*"  />
                                <input  type="text" name="Name" [(ngModel)]="objRegister.lastName" 
                                    placeholder="Last Name*" />
                                <input  type="email" name="Email" placeholder="Email*" [(ngModel)]="objRegister.email" />
                                <input  type="password" name="Password" [(ngModel)]="objRegister.password" 
                                    placeholder="Password*" />
                                <input  type="number" name="PhoneNo" [(ngModel)]="objRegister.mobile"
                                    placeholder="Mobile*" />
                                
                                <input  type="number" name="number"  [(ngModel)]="objRegister.birthdate"
                                    placeholder="Age"/>

                 
            <!-- live test-->



            <div class="auto-width">
                                <mat-form-field>
                                <mat-label>Your Country</mat-label>
                                <mat-select [(ngModel)]="objRegister.strCountry" [(value)] ="objRegister.strCountry" >
                                    <mat-option  *ngFor="let obj of arrCountry" value="{{obj.calling_code+'-'+obj.country}}">
                                    {{obj.country}}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
            </div>
                                <div class="group-inline" >
                                <input class="px-1" [(ngModel)]="objRegister.gender"  value="male" type="radio" id="test1"
                                    name="radio-group">
                                <label class="px-1" for="test1" style="color: aliceblue;">Male</label>
                                <input class="px-1" [(ngModel)]="objRegister.gender"  value="female" type="radio" id="test2"
                                    name="radio-group" >
                                <label class="px-1" for="test2" style="color: aliceblue;">Female</label>
                           </div>
                                <br />
                               
                                <label ng-if="ferror==true" style="color:#C31E2C">{{message}}</label>
                                <button type="button" (click)="register()">
                                    <div class="spinner-border text-light" *ngIf="registerSpinner == true"></div>
                                    <div  class="over-hide"*ngIf="registerSpinner == false">Register</div>
                                </button>
                            </form>


                            <form id="b" action="#" method="post" class="tab-pane">

                                <input [(ngModel)]="objLogin.email" style="width: 100%;"  type="email" name="Email"
                                    placeholder="Email" required="" />
                                <input [(ngModel)]="objLogin.password" style="width: 100%;"  type="password" name="Password"
                                    placeholder="Password" required="" />

                                <a class="handView " style="color:#C31E2C;font-size: 20px;"
                                (click)="openResetD()"><label class="over-hide">Forgot Password?</label></a>

                               

                                <button type="button" (click)="login()">
                                    <div class="spinner-border text-light" *ngIf="loginSpinner"></div>
                                    <span *ngIf="!loginSpinner">Login</span>
                                </button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="row" style="background-color: #000;">

        <div class="col-sm-12 middle">
            <h2 class="over-hide" style="color:#C31E2C;font-size: 3em !important">NAF Virtual Fitness</h2>
        </div>
        <div class="col-sm-12 ">

            <div class="col-sm-10 middle">
                <p style="color:#fff">A digital platform FREE FOR PUBLIC, that offers workout routines by NAF qualified
                    fitness professionals that cater the needs of different segments of the society with different
                    fitness levels. Follow Live Classes to suit your fitness routine and work out at home.

                    STAY STRONG, STAY POSITIVE!

                    A Corporate Social Responsibility Initiative by New Age Fitness Group.

                </p>
            </div>
        </div>


        <div class="col-sm-12 margin"></div>
    </div>

    <app-footer></app-footer>
</div>
<div id="LogD" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: dimgrey;">
            <div class="modal-header">
                <h5 class="modal-title">Enter your email address and new password to send the reset password email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="codeInput" [(ngModel)]="objReset.email"  type="text" name="email" placeholder="Email" />
                <input class="codeInput" [(ngModel)]="objReset.password" type="password" name="newpassword"
                    placeholder="New Password" />
            </div>
            <div class="modal-footer">
                <button type="button" (click)="resetPassword()" class="modalbutton">
                    <div *ngIf="resetSpinner==true" class="spinner-border text-light"></div><span
                        *ngIf="resetSpinner==false">Send Reset Mail</span>
                </button>
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>


<div id="myDModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: dimgrey;">
            <div class="modal-header">
                <h5 class="modal-title" style="color: #fff;">About {{className}} Class </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: #fff;">{{MDetails}}</p>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" ng-click="verify()" class="modalbutton"><div ng-show="verifySpinner==true" class="spinner-border text-light"></div><span ng-show="verifySpinner==false">Verify</span></button> -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
