<div class="container-fluid">
    <a href="stay.html" class="float">
        <label class="my-float">Stay Safe</label>
    </a>
    <div class="row">
        <div class="row col-sm-12 inner-banner">
            <div class="col-sm-6 middle logoBackground logoWidth">
                <img src="../../assets/images/logo.png" alt="Image description" id="logo" />
            </div>
            <div class="col-sm-2 selectAbsolute-en hide">
                <select class="form-control   form-control1 form-control1-en decorated"  id="sel1">
                    <option value="en" class="flex-sm-fill text-sm-center" href="#collapseExample1" data-toggle="tab">
                        English</option>
                    <option value="ar" class="flex-sm-fill text-sm-center  " href="#collapseExample2" data-toggle="tab">
                        العربيه</option>
                </select>
            </div>
            <div class="selectAbsolute-en show margin-top">
                <select class="form-control selectLang  decorated"  id="sel1">
                    <option value="en" class="flex-sm-fill text-sm-center" href="#collapseExample1" data-toggle="tab">En
                    </option>
                    <option value="ar" class="flex-sm-fill text-sm-center  " href="#collapseExample2" data-toggle="tab">
                        ع</option>
                </select>
            </div>
        </div>
    </div>
    <div >
        <div class="col-sm-10 middle">
            <nav class="row nav nav-pills justify-content-center flex-sm-row">
                <a  class="col-lg-2 col-md-2 col-sm-2 flex-sm-fill text-sm-center nav-link active" href="#a" data-toggle="tab">Group Exercise</a>
                <a class="col-lg-2 col-md-2 col-sm-2  flex-sm-fill text-sm-center nav-link" href="#b" data-toggle="tab">Fitness</a>
                <a class="col-lg-2 col-md-2 col-sm-2  flex-sm-fill text-sm-center nav-link" href="#c" data-toggle="tab">Healthy Video</a>
                <a class="col-lg-2 col-md-2 col-sm-2  flex-sm-fill text-sm-center nav-link" href="#k" data-toggle="tab">blog</a>
                <a class="col-lg-2 col-md-2 col-sm-2  flex-sm-fill text-sm-center nav-link" href="#d" data-toggle="tab">Video Libary</a>

                
            </nav>
        </div>
        <div class="row justify-content-center tab-content">
            <div class="tab-pane  active" id="a">
            <app-grouptab></app-grouptab>
            </div>
            <div class="tab-pane" id="b">
                <app-fitnesstab></app-fitnesstab>
            </div>
            <div class="tab-pane col-sm-8 middle" id="c">
                <app-health></app-health>
            </div>
            <div class="tab-pane col-sm-12 middle" id="k">
                <app-blogtab></app-blogtab>
                </div>
            <div class="tab-pane col-sm-12 middle" id="d">
              <app-libarytab></app-libarytab>
            </div>
            
        </div>
        <div class=" col-sm-12 copyright" >
            <p> © 2020 New Age Fitness . All rights reserved </p>
        </div>
    </div>

</div>