<div class="container-fluid" >
    <a href="index.html" class="float">
        <label class="my-float">Home</label>
    
    </a>
    <div class="row">
        <div class="row col-sm-12 inner-banner">
            
            <div class="col-sm-6 middle">
                <img src="assets/images/logo.png" alt="Image description" id="logo" />
            </div>
            <div  class="col-sm-2 selectAbsolute-en">
                <select class="form-control   form-control1-en decorated" ng-model="lang" ng-change="langC()" id="sel1" >
                    <option   value="en"  class="flex-sm-fill text-sm-center" href="#collapseExample1" data-toggle="tab">English</option>
                    
                    <option value="ar" class="flex-sm-fill text-sm-center  " href="#collapseExample2" data-toggle="tab">العربيه</option>
                    
                  
                </select>
            </div>
            
        </div>

    </div>
    <div class="row"  style="padding-top: 1em;background-color: #000;">
        <div class="col-sm-12 middle"><h2 style="color:#C31E2C;font-size: 3em !important">Stay Safe</h2></div>
        <div class="col-sm-12 " ><h2 style="color:#C31E2C;font-size: 3em !important;margin-left: 2.5em;">World health organization </h2></div>
        <div class="col-sm-10 middle" >
            <p style="color:#fff; text-align: left;">Stay aware of the latest information on the COVID-19 outbreak, available on the WHO website and through your national and local public health authority. Most people who become infected experience mild illness and recover, but it can be more severe for others
                Then add the link<a href=" https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public "> https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public </a>
                </p>
        </div>
        <div class="col-sm-12 "><h2 style="color:#C31E2C;font-size: 3em !important;margin-left: 2.5em;">UAE information </h2></div>
        <div class="col-sm-10 middle" >
            <p style="color:#fff;text-align: left;">Novel Coronavirus (COVID-19) is a new strain of coronavirus, ﬁrst identiﬁed in a cluster with pneumonia symptoms in Wuhan city, Hubei province of China. Most of the cases were epidemiologically linked to the seafood and animal market
                <br/><a href="https://www.ncema.gov.ae/en/media-center/awareness-messages/mers-cov.aspx">https://www.ncema.gov.ae/en/media-center/awareness-messages/mers-cov.aspx</a>
                
                </p>
        </div>
 
    </div>
        
    
    <div class=" col-sm-12 copyright" style="background-color: #000;">
        <p> © 2020 New Age Fitness  . All rights reserved</p>
    </div>
</div>

